.cart-summary-container {
  height: 50vh;
  display: flex;
  justify-content: flex-end;
}
.making-flex-end {
  margin-top: 20px;
  height: 30vh;
  width: 420px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.order-total-value {
  color: #616e7c;
}
.span {
  color: #171f46;
  font-size: 25px;
  font-weight: bold;
}
.carlist-items-count {
  color: #616e7c;
}
.checkout {
  height: 5vh;
  width: 240px;
  background-color: #0b69ff;
  color: #ffffff;
  border-width: 0px;
  border-radius: 8px;
}
